FINNHUB_API_KEY=your_finnhub_api_key
PORT=8080
MONGO_CONNECTION_STRING=mongodb://127.0.0.1:27017/stockMarketDB
JWT_ACCESS_SECRET=veryVerySecret
JWT_REFRESH_SECRET=notSoSecret
JWT_ACCESS_EXPIRES_IN_SECONDS=60
JWT_REFRESH_EXPIRES_IN_SECONDS=604800
REFRESH_TOKEN_COOKIE=refreshToken
REDIS_URL=redis://127.0.0.1:6379/0
